---
name: publish flakehub
on:
  check_suite:
    types: [completed]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: |
      (
        github.ref == 'refs/heads/main'
        && !contains(
          github.event.head_commit.message
          || github.event.check_suite.head_commit.message
          || '',
          'no-deploy'
        )
        && (
          github.event_name == 'workflow_dispatch'
          || github.event.check_suite.conclusion == 'success'
        )
      )
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
      - uses: DeterminateSystems/flakehub-cache-action@main
      #- run: nix build --accept-flake-config .#devShells.x86_64-linux.default
      #  working-directory: templates/clojure
      #- run: nix build --accept-flake-config .#devShells.x86_64-linux.default
      #  working-directory: templates/generic
      - uses: DeterminateSystems/flakehub-push@main
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        id: flakehub-push
        with:
          name: ramblurr/nix-devenv
          rolling: true
          visibility: public
          include-output-paths: true
